<section class="categories">

    <h1 class="title text-left">Categories</h1>

    <div class="content">
        <%- list_categories({
            show_count: false,
            separator: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
            style: false
        }) %>
    </div>

</section>
