<div class="index">
    <ul class="posts">

        <% page.posts.each(function (post) { %>

        <li class="posts-item">
            <div class="posts-item-meta">
            <span class="posts-item-meta-time">
                <%- date(post.date, "YYYY-MM-DD") %>
            </span>
            </div>

            <div class="posts-item-title">
                <a class="posts-item-title-link"
                   href="<%- url_for(post.path) %>">
                    <%= post.title %>
                </a>
            </div>

        </li>

        <% }) %>
    </ul>

    <% /* include paginator */ %>
    <%- partial('_partial/paginator') %>

</div>
