<section class="post_index">

    <% page.posts.each(function (post) { %>

    <div class="post_index-item">
        <div class="post_index-item-meta">
            <span class="post_index-item-meta-time">
                <%- date(post.date, "YYYY-MM-DD") %>
            </span>
        </div>

        <div class="post_index-item-title">
            <a class="post_index-item-title-link"
               href="<%- url_for(post.path) %>">
                <%= post.title %>
            </a>
        </div>

    </div>

    <% }) %>
</section>

<% /* include paginator */ %>
<%- partial('_partial/paginator') %>
