<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>

  <body>

    <%- partial('_partial/header') %>

      <main class="main wrap">
        <%- body %>
      </main>

      <%- partial('_partial/footer')  %>

  </body>

</html>
