<article class="post-main">

    <div class="post-title">
        <h1 class="title">
            <%= page.title %>
        </h1>
        <div class="post-meta-inner">
            <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
        </div>
    </div>

    <div class="post-content">
        <!-- https://hexo.io/docs/helpers.html#toc -->
        <%
        /*
            toc(page.content, {
                list_number: false
            })
        */
        %>

        <%- page.content %>
    </div>
</article>
