<section class="tags">

    <h1 class="tags-title">TAGS</h1>

    <div class="tags-content">
        <%- tagcloud({
            min_font: 16,
            max_font: 35,
            amount: 999,
            color: true,
            start_color: 'gray',
            end_color: 'black'
        }) %>
    </div>

</section>
