<section class="tags">

    <h1>TAGS</h1>

    <%- tagcloud({
        min_font: 16,
        max_font: 35,
        amount: 999,
        color: true,
        start_color: 'gray',
        end_color: 'black'
    }) %>
</section>
