<section class="tags">

    <h1 class="title">
        <%= __('categories') %>
    </h1>

    <div class="content">
        <%- tagcloud({
            min_font: 16,
            max_font: 35,
            amount: 999,
            color: true,
            start_color: 'gray',
            end_color: 'black'
        }) %>
    </div>
</section>
