@import "common.styl";
@import "_partial/_base";
@import "_partial/archive";
@import "_partial/footer";
@import "_partial/header";
@import "_partial/index.styl";
@import "_partial/main";
@import "_partial/post";

html {
  font-size: 62.5%;
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

body {
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  word-spacing: $word-spacing;
}

@media (min-width: 769px) {
  .wrap {
    max-width: 680px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .wrap {
    max-width: 92%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

p {
  line-height: $line-height;
  color: $black-font;
}

// FIXME

::selection{
  background-color: #ccc;
  text-shadows: none;
}

// end FIXME

// FIXME

a:link {
  word-break: break-word;
  text-decoration: none;
  color: $blue;
}

a:visited {
  text-decoration: none;
  color: $blue;
}

a:hover {
  text-decoration: underline;
  color: $black-ink;
}

// end FIXME

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul li {
  list-style: none;
}

code {
  padding: 0.2rem 0.6rem;
  background-color: $grey;
  font-size: $bigger-font-size;
}

// FIXME

figure {
  overflow: auto;
  font-size: $quote-font-size;
  line-height: $quote-line-height;
}

figure .gutter pre {
  background-color: rgba(196, 196, 196, 0.24);
  padding: 0.8rem 1.2rem;
  margin-right: 1rem;
}

// end FIXME

// FIXME

blockquote {
  border-left: 2px solid $black-ink;
  margin-left: 1.8rem;
  padding-left: 1.2rem;
}

strong {}

// end FIXME


