<footer>
    <div class="container">
        <p>
            <span>&copy; 2015 - 2017</span>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span><a href="mailto:i@zyis.me">Aiden Zhao</a></span>
        </p>
    </div>
</footer>
