<footer>
    <div class="container text-center">

        <% /* copyright info */ %>
        <p class="copyright">
            <span>&copy; 2015 - 2017</span>
            <span> / </span>
            <span><a href="http://varzy.me" target="_blank">Aiden Zhao</a></span>
        </p>

    </div>
</footer>
