<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

  <meta name="theme-color" content="#fff">
  <meta name="google-site-verification" content="c66gcm0iMw487a2YC6w7cFbrhhe_Mh_vVNC6Pt3Dak8" />

  <link rel="" href="" type="text/css">

  <title>
    <%= config.title %>
  </title>

  <%- css('css/style.css') %>

</head>
