<header>
    <div class="container">

        <% /* page title logo */ %>
        <div>
            <h1 class="header-logo">
                <a href="<%- url_for() %>">
                    <%= config.title %>
                </a>
            </h1>
        </div>

        <% /* page title menu */ %>
        <nav class="header-navbar">
            <ul class="header-navbar-menus">
                <% for (menu in theme.menus) { %>
                <li class="header-navbar-menus-item">
                    <a href="<%- url_for(theme.menus[menu]) %>">
                        <% /* read configs from lang.yml */ %>
                        <%= __(menu) %>
                    </a>
                </li>
                <% } %>
            </ul>
        </nav>

    </div>
</header>
