<% if (page.total > 1){ %>

<nav class="paginator">
    <div class="wrapper">

        <%- paginator({
            prev_text: '< ' + __('paginator.prev'),
            next_text: __('paginator.next') + ' >'
        }) %>

    </div>
</nav>

<% } %>
