<% if (page.total > 1){ %>
<nav class="page-nav">
    <div class="wrapper">
        <%- paginator({
            prev_text: "&laquo;" + __('Paginator.Prev'),
            next_text: __('Paginator.Next') + "&raquo;"
        }) %>
    </div>
</nav>
<% } %>