<div class="prev-next">
    <% /**
     * prev page
     */ %>
    <% if(page.prev) { %>
    <div class="prev">
        <a href="<%- url_for(page.prev.path) %>">
            <%- __('paginator.prev') %>
        </a>
    </div>
    <% } %>

    <% /**
     * next page
     */ %>
    <% if(page.next) { %>
    <div class="next">
        <a href="<%- url_for(page.next.path) %>">
            <%- __('paginator.next') %>
        </a>
    </div>
    <% } %>
</div>