<div class="prev-next">
    <div class="wrapper">

        <% /**
         * prev page
         * if you are in the first post, don't show newer
         */ %>
        <% if(page.prev) { %>
        <div class="prev">
            <a href="<%- url_for(page.prev.path) %>">
                <span>< </span><%- __('paginator.prev') %>
            </a>
        </div>
        <% } else { %>
        <div class="prev"></div>
        <% } %>

        <% /**
         * next page
         * if you are in the last post, don't show older
         */ %>
        <% if(page.next) { %>
        <div class="next">
            <a href="<%- url_for(page.next.path) %>">
                <%- __('paginator.next') %><span> ></span>
            </a>
        </div>
        <% } else { %>
        <div class="next"></div>
        <% } %>

    </div>
</div>
