// ===== Color =====

$white = #fff;

$black = #222;
$black-pure = #000;

$orange = #ffa500;

$grey = #eee;

$blue-light = #bfefff;

$black-ink = #34495e;

$green-sea = #16a085;



// ===== Size =====

$normal-font-size = 1.6rem;
$normal-line-height = 2rem;

