// ===================
// Color
// ===================

$white = #fff;
$black = #000;
$black-font = #222;
$orange = #ffa500;
$grey = #ccc;
$blue-light = #bfefff;
$blue-deep = #262a30;
$black-ink = #34495e;
$green-sea = #16a085;
$blue = #295dcc;



// ===================
// Size
// ===================

$font-size = 1.4rem;
$line-height = 1.8rem;
$letter-spacing = 0rem;
// Wranning: This setting is only affect for Eng fonts
$word-spacing = 0rem;

$big-font-size = 1.8rem;
$big-line-height = 2.4rem;

$giant-font-size = 3.2rem;

$quote-font-size = 1.6rem;
$quote-line-height = 1.8rem;
