.categories {
  // ! TODO: compare this part
  .title {
    padding-left: 2rem;
    border-left: 2px solid $color-tomato-red;
    color: $meta;
  }

  a {
    //word-break: break-all;
    //white-space: nowrap;
    word-wrap: break-word;
    word-break: normal;
  }

  .content {
    text-align: center;
    font-size: $size-large;

    li {
      list-style: none;
      display: inline-block;
      min-width: 30%;

    }
  }

}
