.categories {
  a {
    word-wrap: break-word;
    word-break: normal;
  }

  .content {
    text-align: center;
    font-size: $size-large;

    li {
      list-style: none;
      display: inline-block;
      min-width: 30%;
    }
  }

}
