// all-height = 10rem
footer {
  max-height: 12rem;
  padding-top: 4rem;

  .container {
    height: 8rem;
    display: table;
    p {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
