@media screen and (min-width: $width-break-point) {
  header {
    .container {
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: $size-regular * 2;
      }

      .navbar {
        font-size: $size-large-x;

        &-menus {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $width-break-point) {
  header {
    .container {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      // for less-width phone
      padding: 0 .6rem;

      .navbar {
        font-size: $size-large;

        &-menus {
          margin: 1.2rem;
        }
      }
    }
  }
}

header {
  font-family: 'Bellefair', serif;
  padding-top: 5rem;

  .container {
    display: flex;

    .logo {
      margin: 0;
      padding: 0;
      font-weight: 300;
    }

    .navbar {
      &-menus {
        padding: 0;
        text-align: center;

        &-item {
          display: inline-block;
          padding: 0 .6rem;
          list-style: none;
        }
      }
    }
  }
}
