@media screen and (min-width: $break-point) {
  .wrapper {
    padding-top: 3.2rem !important;
    justify-content: space-between;
    &-logo {
      font-size: $page-logo;
    }
  }
}

@media screen and (max-width: $break-point) {
  .wrapper {
    padding-top: 3.6rem !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-logo {
      font-size: $page-logo - .6rem;
    }
  }
}

header {
  & .wrapper {
    display: flex;

    &-logo {
      margin: 0;
      padding: 0;
      font-weight: 300;
    }

    &-navbar ul {
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        padding: 0 .8rem;
        list-style: none;
        font-size: $base-font-size + .4rem;
      }
    }
  }
}