@media screen and (min-width: $width-break-point) {
  .index {
    max-width: 590px;
    height: 532px;
    position: absolute;
    top: 50%;
    margin-top: -284px !important;
    .posts {
      &-item {
        display: flex;
        align-items: baseline;
        list-style: none;
        &-meta {
          flex: 4;
          text-align: center;
          font-size: $size-regular;
        }
        &-title {
          flex: 8;
          //font-size: $size-large;
        }
      }
    }
  }
}

@media screen and (max-width: $width-break-point) {
  .index {
    .posts {
      &-item {
        &-meta {
          text-align: left;
        }

        // &-title {
        //   font-size: $size-large;
        // }
      }
    }
  }
}

.index {
  .posts {
    margin: 0;
    padding: 0;
    &-item {
      padding: .8rem 0;
      &-meta {
        letter-spacing: .2rem;
        //color: #bbbbbb;
        color: $meta;
      }

      &-title {
        letter-spacing: .1rem;
      }
    }
  }
}
