html {
  font-size: 62.5%;
  font-family: 'Bellefair', serif;

  body {
    font-size: $base-font-size;
    background-color: $bg-color;
    position: relative;
    margin: 0;
    padding: 0;
    color: $ink;
    a:link,
    a:visited {
      word-break: break-all;
      text-decoration: none;
      color: $link;
    }
    a:hover {
      color: $link-active;
    }
    p {
      padding: .8rem 0;
      line-height: 1.6;
      margin: 0;
    }
    ul li {
      line-height: 1.6;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: $title-font-weight;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: $img-max-width;
    }
    .container {
      max-width: $container-max-width;
      margin: 0 auto; //padding: 0 2rem;
    }
    figure {
      margin-left: 0;
      margin-right: 0;
      padding-left: 1.6rem;
      max-width: 100%;
      overflow: auto;
      background-color: $code-area-bg;
      font-size: $code-font-size !important;
      line-height: 1.6;
      .code {
        padding-left: .8rem;
      }
    }
    code {
      font-size: $code-font-size;
      background: $code-line-bg;
      padding: 0 0.3em
    }
    blockquote {
      margin-left: 0;
      margin-right: 0;
      border-left: $tomato-red 2px solid;
      p {
        padding: .3rem 2rem;
      }
    }
    .page-wrapper {
      min-height: calc(100vh - 10.2rem);
    }
  }
}
