// ============================
// Color
// ============================

// main color
$color-white: #fdfdfd !default;
$color-black: #333 !default;
$color-gray: #f5f5f5 !default;

// vice color
$color-gray-light: #f9f9f9 !default;
$color-gray-deep: #eaeaea !default;

// decorative colors
$color-tomato-red: #b7472a !default;

// ============================
// Font Size
// ============================

$size-regular: 1.4rem !default;
$size-small: $size-regular - .2rem !default;
$size-small-x: $size-regular - .4rem !default;
$size-small-xx: $size-regular - .6rem !default;
$size-large: $size-regular + .2rem !default;
$size-large-x: $size-regular + .4rem !default;
$size-large-xx: $size-regular + .6rem !default;

// ============================
// width, height
// ============================

$width-max-container: 66rem !default;
$width-max-img: 100% !default;
$width-break-point: 46rem !default;

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////

//$color-light-white: #fbfbfb !default;
//$color-pure-black: #000 !default;
//$color-light-black: #3c3f41 !default;
//$color-light-gray: #f5f5f5 !default;
//$color-deep-gray: #e5e5e5 !default;
//
//$color-deep-dark: #222 !default;
//$color-light-dark: #3c3f41 !default;
//$color-tomato-red: #b7472a !default;
//
//$tomato-red: #b7472a !default;
//$bg-color: #f5f5f5 !default;
//$ink: #222 !default;
//$link: #222 !default;
//$link-active: $tomato-red !default;
//$code-line-bg: #e5e5e5 !default;
//$code-area-bg: #fbfbfb !default;
