// ===================
// Color
// ===================

$tomato-red: #b7472a !default;

$bg-color: #f5f5f5 !default;
$ink: #222 !default;
$link: #222 !default;
$link-active: $tomato-red !default;
$code-line-bg: #e5e5e5 !default;
$code-area-bg: #fbfbfb !default;

// ===================
// Size
// ===================

$base-font-size: 1.6rem !default;
$code-font-size: 1.4rem !default;
$container-max-width: 76.9rem !default;

$break-point: 42rem !default;

$page-logo: 4.2rem !default;

$img-max-width: 100% !default;

$title-font-weight: 200 !default;

$post-h1: 2.8rem !default;
$post-h2: 2.4rem !default;
$post-h3: 2rem !default;
$post-h4: 1.6rem !default;
$post-h5: 1.4rem !default;
$post-h6: 1.2rem !default;

