// ===================
// Color
// ===================

$bg-color: #f5f5f5 !default;
$ink: #222 !default;
$link: #222 !default;
$link-active: #b7472a !default;
//$white = #fff;
//$black = #000;
//$black-font = #222;
//$orange = #fd5621;
//$grey = #9d9d9d;
//$blue-light = #bfefff;
//$blue-deep = #262a30;
//$black-light = #363f46;
//$green-sea = #16a085;
//$blue = #3e50b4;

// ===================
// Size
// ===================

$base-font-size: 1.6rem !default;

$container-max-width: 76.9rem !default;

$break-point: 42rem;

$page-logo: 4.2rem !default;
//$line-height = 2.2rem;
//$letter-spacing = 0rem;
//// Wranning: This setting is only affect for Eng fonts
//$word-spacing = 0rem;
//
//$bigger-font-size = 1.6rem;
//
//$big-font-size = 1.8rem;
//$big-line-height = 2.4rem;
//
//$giant-font-size = 3.2rem;
//
//$quote-font-size = 1.6rem;
//$quote-line-height = 1.8rem;
