@media (min-width: 769px) {
  header .wrap {
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 0;
  }
}

@media (max-width: 768px) {
  header .wrap {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 0;
    text-align: center;
  }
}

header .wrap {
  display: flex;
}

.blog-title {
  font-size: 3.2rem;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  display: inline-block;
  list-style: none;
  padding: 0 1rem;
}
