@media (min-width: 769px) {
  header {
    text-align: left;
  }
  .navbar ul {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 768px) {
  header {
    text-align: center;
  }
  .navbar ul {
    text-align: center;
  }
}

header {
  padding-bottom: 3.2rem;
}

header .wrap {
  margin-top: 4rem;
  position: relative;
}

.blog-title {
  font-size: 3.2rem;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  display: inline;
  list-style: none;
  padding: 0 .5rem;
}
