@media (min-width: 769px) {
  header {
    text-align: left;    
  }
  header .wrap{
    position: relative;
    
  }
  .blog-title {
    padding: 3rem 0;
  }
  .navbar {
    position: absolute;
    right: 2rem;
    top: 2.6rem;
  }
}

@media (max-width: 768px) {
  header {
    text-align: center;
  }
  .blog-title {
    padding-top: 2rem;
  }
  .navbar ul {
    text-align: center;
  }
}

.blog-title {
  font-size: 3.2rem;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  display: inline;
  list-style: none;
  padding: 0 .5rem;
}
