@media (min-width: 769px) {  
  .posts {
    padding: 3rem 0;
    font-size: $big-font-size;
    line-height: $big-line-height;
  }
}

@media (max-width: 768px) {}

.post-meta {
  font-size: $small-font-size;
}
